@import 'tailwindcss';

/* CSS Variables - Basic Colors */
:root {
  /* Color - Light mode */
  --bg-primary: #ffffff;
  --bg-secondary: #f9f9f9;

  --text-primary: #111827;
  --text-secondary: #374151;
  --text-muted: #9ca3af;

  --border-color: #e5e5e5;

  /* Layout */
  --container-max: 38rem;

  /* Effects */
  --transition: 0.3s ease-in-out;
  --shadow: 0.25rem 0 0.5rem rgba(0, 0, 0, 0.1);
}

/* Dark Mode Variables */
.dark {
  --bg-primary: #161d26;
  --bg-secondary: #1f2934;

  --text-primary: #f0f0f0;
  --text-secondary: #b0b0b0;
  --text-muted: #707070;

  --border-color: #2a2a2a;

  --shadow: 0.25rem 0 0.5rem rgba(0, 0, 0, 0.3);
}

html {
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

/* Base Styles */
body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition:
    background-color var(--transition),
    color var(--transition);
  font-size: 16px;
  line-height: 1.75;
}

/* Heading */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: var(--text-primary);
  line-height: 1.5;
  letter-spacing: -0.025rem;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
  transition: opacity var(--transition);
}

a:hover {
  text-decoration: underline;
}
